<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Verde | Hurtownia owoców i warzyw</title>

    <link rel="stylesheet" href="static/css/style.css"/>
    <link rel="stylesheet" href="static/css/flaticon.css"/>
    <link rel="stylesheet" href="static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="static/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cuprum:400,700" rel="stylesheet">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

    <link href="static/css/font-awesome.min.css" rel="stylesheet"/>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="static/js/angular.js"></script>
    <script src="static/js/angular-route.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    <script src="main.js"></script>
    <script src="AppService.js"></script>
    <script src="dashboard/service/product.service.js"></script>
    <script src="dashboard/service/user.service.js"></script>
    <script src="dashboard/product.controller.js"></script>
    <script src="dashboard/user.controller.js"></script>
    <script src="admin/service/AdminService.js"></script>
    <script src="admin/admin.js"></script>
    <script src="main/service/SessionService.js"></script>
    <script src="static/js/parallax.js"></script>
    <script src="static/js/common.js"></script>
</head>
<style>
    [ng\:cloak], [ng-cloak], .ng-cloak {
        display: none;
    }
</style>
<body ng-app="main" ng-cloak>
<header id="header" ng-controller="navigation">
    <div class="container">
        <div class="col-md-2 col-sm-3 col-xs-10">
            <div class="header--logo">
                <a href="#/">Verde</a>
            </div>
        </div>
        <div class="col-xs-2 visible-xs">
            <a href="" id="button--mobile">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </a>
        </div>
        <div class="button__bar col-md-10 col-sm-9 col-xs-12">
            <div class="header--buttons">
                <a class="button--order button" href="#/dashboard" ng-show="authenticated">Złóż zamówienie</a>
                <a class="button--admin button" href="#/admin" ng-show="authenticated && admin">Panel admina</a>
                <a class="button--reset button" href="#/" ng-show="!authenticated" ng-click="openPasswordResetModal()">Resetuj
                    hasło</a>
                <a class="button--login button" href="#/" ng-show="!authenticated"
                   ng-click="openLoginModal()">Zaloguj</a>
                <a class="button--register button" href="#/" ng-show="!authenticated"
                   ng-click="openRegisterModal($event)">Zarejestruj</a>
                <a class="button--logout button" href="" ng-show="authenticated" ng-click="logout()">Wyloguj</a>
            </div>
        </div>
    </div>
</header>
<section id="content" ng-view>
</section>
<footer id="footer">
    <div class="container">
        <p>Verde<span>|</span>© 2016</p>
    </div>
</footer>
</body>
</html>