<section id="home">
    <div id="slick">
        <div class="first__slide slide" style="background-image: url(static/img/homepage-1.jpg)"></div>
        <div class="second__slide slide" style="background-image: url(static/img/homepage-2.jpg)"></div>
        <div class="third__slide slide" style="background-image: url(static/img/homepage-3.jpg)"></div>
    </div>
    <div class="home--wrapper">
        <div class="header" data-parallax="{&quot;y&quot;: 150}" ng-controller="navigation">
            <h1>Verde</h1>
            <h4>Hurtownia owoców i warzyw</h4>
            <a class="button--order button" href="#/dashboard" ng-show="authenticated">Złóż zamówienie</a>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(window).on('load', function () {
        $('#home #slick').slick({
            arrows: false,
            autoplay: true,
            autoplaySpeed: 4000,
            fade: true,
            speed: 1000
        });
    });
</script>
<section id="about" class="clearfix">
    <div class="container">
        <div class="about--header header">
            <h2>Witamy w Verde</h2>
        </div>
        <div class="three__column row">
            <div class="col-md-4 col-xs-12">
                <div class="column__text--left column">
                    <div class="vege--up vege">
                        <div class="icon">
                            <i class="icons flaticon-broccoli"></i>
                            <div class="circle"></div>
                            <div class="circle"></div>
                            <div class="circle"></div>
                        </div>
                        <h3>100% Naturalne</h3>
                        <p>Zwracamy uwagę na to, co jesz. Chcemy produkować sprzedawać jedzenie, które odżywia Twój
                            organizm i smakuje wyśmienicie.</p>
                    </div>
                    <div class="vege--down vege">
                        <div class="icon">
                            <i class="icons flaticon-lemon"></i>
                            <div class="circle"></div>
                            <div class="circle"></div>
                            <div class="circle"></div>
                        </div>
                        <h3>Zawsze świeże</h3>
                        <p>Zwracamy uwagę na to, co jesz. Chcemy produkować sprzedawać jedzenie, które odżywia Twój
                            organizm i smakuje wyśmienicie.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="column__image column">
                    <img src="static/img/about-us.jpg">
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="column__text--right column">
                    <div class="vege--up vege">
                        <div class="icon">
                            <i class="icons flaticon-groceries"></i>
                            <div class="circle"></div>
                            <div class="circle"></div>
                            <div class="circle"></div>
                        </div>
                        <h3>Zdrowe produkty</h3>
                        <p>Zwracamy uwagę na to, co jesz. Chcemy produkować sprzedawać jedzenie, które odżywia Twój
                            organizm i smakuje wyśmienicie.</p>
                    </div>
                    <div class="vege--down vege">
                        <div class="icon">
                            <i class="icons flaticon-flour"></i>
                            <div class="circle"></div>
                            <div class="circle"></div>
                            <div class="circle"></div>
                        </div>
                        <h3>Najwyższa jakość</h3>
                        <p>Zwracamy uwagę na to, co jesz. Chcemy produkować sprzedawać jedzenie, które odżywia Twój
                            organizm i smakuje wyśmienicie.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="leaf">
    <div class="container">
        <div class="frame" data-parallax="{&quot;y&quot;: 150}">
            <h3>Jedz lepiej</h3>
            <h2>Czuj się lepiej</h2>
            <p>Sprzedajemy żywność w sposób, który jest szczery, naturalny i przejrzysty.</p>
        </div>
    </div>
    <div class="leaf--mask"></div>
</section>
<section id="contact">
    <div class="container">
        <div class="contact--header header">
            <h2>Napisz do nas!</h2>
            <p>Chcesz zapytać o dostępność produktów lub złożyć specjalne zamówienie?<br/>
                Napisz wiadomość - na pewno się odezwiemy!</p>
        </div>
        <div class="contact--form">
            <form name="contactForm">
                <div class="col-md-4 col-xs-12">
                    <md-input-container>
                        <input required minlength="3" type="text" ng-model="user.name" name="name" aria-label="name"
                               placeholder="Imię"/>
                        <div ng-messages="contactForm.name.$error">
                            <div ng-message="required">To pole jest wymagane</div>
                            <div ng-message="minlength">Podaj conajmniej 3 znaki</div>
                        </div>
                    </md-input-container>
                </div>

                <div class="col-md-4 col-xs-12">
                    <md-input-container>
                        <input required minlength="3" type="text" ng-model="user.surname" name="surname"
                               aria-label="surname"
                               placeholder="Nazwisko"/>
                        <div ng-messages="contactForm.surname.$error">
                            <div ng-message="required">To pole jest wymagane</div>
                            <div ng-message="minlength">Podaj conajmniej 3 znaki</div>
                        </div>
                    </md-input-container>
                </div>

                <div class="col-md-4 col-xs-12">
                    <md-input-container>
                        <input required type="email" ng-model="user.username" name="username" aria-label="email"
                               placeholder="Email"/>
                        <div ng-messages="contactForm.email.$error">
                            <div ng-message="email">Podaj prawidłowy email</div>
                            <div ng-message="required">To pole jest wymagane</div>
                        </div>
                    </md-input-container>
                </div>

                <div class="col-xs-12">
                    <md-input-container class="text">
                        <textarea ng-model="user.message" name="message" aria-label="message" placeholder="Wiadomość">
                            </textarea>
                    </md-input-container>
                </div>

                <md-button type="submit" aria-label="Zarejestruj">Wyślij!</md-button>
            </form>
        </div>
    </div>
</section>