<section id="dashboard--herobanner">
    <div class="dashboard--header header">
        <h1>Panel zamówień</h1>
    </div>
</section>
<section id="dashboard" class="clearfix" ng-cloak>
    <div class="container">
        <md-tabs md-dynamic-height>
            <md-tab label="one">
                <md-content id="products">
                    <div class="input--filter input">
                        <span>Wyszukaj:</span><input type="text" ng-model="inputFilter"/>
                    </div>
                    <div class="col-md-8 col-sm-12 col-xs-12">
                        <div class="column--order column">
                            <h2>Dodaj produkty do koszyka!</h2>
                            <div class="product col-md-6 col-sm-6 col-xs-12"
                                 ng-repeat="product in products | filter : inputFilter | orderBy : 'name' : false">
                                <div class="product__image"
                                     style="background-image: url(static/img/products/{{ product.name.split(' ').join('') }}.png)"></div>
                                <div class="product__text">
                                    <h4 class="product__text--name">{{ product.name }}</h4>
                                    <h4 class="product__text--info">
                                        <span class="price">{{ product.price }}</span>
                                        <span class="currency">zł</span>
                                        <span class="unit">/{{ product.unit.name }}</span>
                                    </h4>
                                    <div class="button__bar">
                                        <md-button type="button" aria-label="addButton" class="button--order"
                                                   ng-click="addProductToOrder(product)"><i
                                                class="fa fa-shopping-basket"
                                                aria-hidden="true"></i></md-button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="column--sale column">
                            <div class="sale_header header">
                                <h2>Polecane produkty</h2>
                                <div class="product col-xs-12 col-sm-6 col-md-12"
                                     ng-repeat="product in recommendedProducts">
                                    <div class="product__image"
                                         style="background-image: url(static/img/products/{{ product.name.split(' ').join('') }}.png)"></div>
                                    <div class="product__text">
                                        <h4 class="product__text--name">{{ product.name }}</h4>
                                        <h4 class="product__text--info">
                                            <span class="price">{{ product.price }}</span>
                                            <span class="currency">zł</span>
                                            <span class="unit">/{{ product.unit.name }}</span>
                                        </h4>
                                        <div class="button__bar">
                                            <md-button type="button" aria-label="addButton" class="button--order"
                                                       ng-click="addProductToOrder(product)"><i
                                                    class="fa fa-shopping-basket"
                                                    aria-hidden="true"></i></md-button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </md-content>
            </md-tab>

            <md-tab label="two">
                <md-content id="cart">
                    <div class="cart__empty empty" ng-show="emptyCard">
                        <h2>Twój koszyk jest pusty.<br/>
                            Dodaj produkty do koszyka!</h2>
                    </div>
                    <div ng-show="!emptyCard">
                        <div class="cart--products">
                            <h2>Produkty w Twoim koszyku</h2>
                            <div class="product__ordered" ng-repeat="mappedProduct in orderedProducts">
                                <div class="row">
                                    <div class="product__ordered--image col-md-4 col-sm-4 col-xs-12"
                                         style="background-image: url(static/img/products/{{mappedProduct.product.name.split(' ').join('')}}.png)">
                                    </div>
                                    <div class="product__ordered--info col-md-4 col-sm-4 col-xs-12">
                                        <p>
                                            <span class="name">{{mappedProduct.product.name}}</span>
                                            <span class="unit">{{mappedProduct.product.unit.name}}</span>:
                                            <span class="quantity">{{ mappedProduct.quantity }}</span>,
                                            <span class="val-label">Wartość: </span>
                                            <span class="value">{{ mappedProduct.value | number : 2 }}</span>
                                            <span class="currency">zł</span>
                                        </p>
                                    </div>
                                    <div class="button__group col-md-4 col-sm-4 col-xs-12">
                                        <div class="buttons">
                                            <md-button type="button" aria-label="Edit button"
                                                       class="button--edit button"
                                                       ng-click="editQuantityModal(mappedProduct)">
                                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                            </md-button>
                                            <md-button type="button" aria-label="Edit button"
                                                       class="button--delete button"
                                                       ng-click="removeProduct(mappedProduct)">
                                                <i class="fa fa-times" aria-hidden="true"></i>
                                            </md-button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="order--summary">
                            <div class="order--value">
                                Wartość zamówienia: <span class="value" ng-bind="orderValue()"></span><span
                                    class="currency">zł</span>
                            </div>
                            <div class="button__bar">
                                <md-button type="button" aria-label="Edit button" class="button--order"
                                           ng-click="deliveryTypeModal()">
                                    Zamów!
                                </md-button>
                            </div>
                        </div>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="three">
                <md-content id="settings" ng-controller="userController">
                    <div class="settings--wrapper">
                        <div class="row two__column">
                            <div class="col-md-6 col-xs-16 column--first column">
                                <h2>Twoje dane:</h2>
                                <div class="user--info">
                                    <p>Imię: {{ user.name }}</p>
                                    <p>Nazwisko: {{ user.surname }}</p>
                                    <p>E-mail: {{ user.username }}</p>
                                    <p>Firma: {{ user.company }}</p>
                                    <p>NIP: {{ user.NIP }}</p>
                                    <p>REGON: {{ user.REGON }}</p>
                                    <p>Adres: {{ user.place }}, {{ user.postalCode }}</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-16 column--second column">
                                <h2>Ustawienia konta</h2>
                                <div class="button__group">
                                    <div class="bar--account bar">
                                        <span class="text">Usuń konto</span>
                                        <md-button type="button" aria-label="Delete account"
                                                   class="button--delete button"
                                                   ng-click="deleteAccountDialog()">
                                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                                        </md-button>
                                    </div>
                                    <hr/>
                                    <div class="bar--data bar">
                                        <span class="text">Zmień dane</span>
                                        <md-button type="button" aria-label="Change data" class="button--data button"
                                                   ng-click="editUserDialog()">
                                            <i class="fa fa-info" aria-hidden="true"></i>
                                        </md-button>
                                    </div>
                                    <hr/>
                                    <div class="bar--password bar">
                                        <span class="text">Zmień hasło</span>
                                        <md-button type="button" aria-label="Change password"
                                                   class="button--password button"
                                                   ng-click="changePasswordDialog()">
                                            <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                                        </md-button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="latest-orders">
                            <h2>Ostatnie zamówienia</h2>
                            <div class="cart__empty empty" ng-show="emptyOrders">
                                <h2>Obecnie nie posiadasz żadnych zamówień.<br/>
                                    Dodaj produkty do koszyka i złóż zamówienie!</h2>
                            </div>
                            <div ng-show="!emptyOrders">
                                <div class="row order__bar hidden-xs">
                                    <div class="col-md-3 col-sm-3">
                                        Zamawiający
                                    </div>
                                    <div class="col-md-2 col-sm-2">
                                        Data
                                    </div>
                                    <div class="col-md-2 col-sm-2">
                                        Typ dostawy
                                    </div>
                                    <div class="col-md-2 col-sm-2">
                                        Wartość
                                    </div>
                                    <div class="col-md-2 col-sm-2">
                                        Status
                                    </div>
                                    <div class="col-md-1 col-sm-1">
                                        <span></span>
                                    </div>
                                </div>
                                <div class="order" ng-repeat="order in orders | orderBy : 'date' : true"
                                     ng-model="$scope.orders">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-3 col-xs-6">
                                            {{ order.user.name }} {{ order.user.surname }}
                                        </div>
                                        <div class="col-md-2 col-sm-2 col-xs-6">
                                            {{ order.date | date:'dd.MM.yyyy' }}r.
                                        </div>
                                        <div class="col-md-2 col-sm-2 col-xs-6 delivery">
                                            {{ order.deliveryType.type }}
                                        </div>
                                        <div class="col-md-2 col-sm-2 col-xs-6 value">
                                            {{ order.sum | number : 2 }} <span>zł</span>
                                        </div>
                                        <div class="col-md-2 col-sm-2 col-xs-12 value">
                                            <span ng-if="order.accepted">Zrealizowano</span>
                                            <span ng-if="!order.accepted">Oczekujące</span>
                                        </div>
                                        <div class="col-md-1 col-sm-1 col-xs-12 button__bar">
                                            <md-button type="button" aria-label="Edit button"
                                                       class="button--edit button"
                                                       ng-click="listOrderProducts(order)">
                                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                            </md-button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </md-content>
            </md-tab>
        </md-tabs>
    </div>
</section>