$fontColor: #25363a;
$buttonColor: #86bc42;
$errorColor: #f35b5b;
$productColor: #25363a;
$greyColor: #9c9c9c;
$lightGrey: #fafafa;
$purpleColor: #793288;

@mixin elementTransition($time) {
  -webkit-transition: linear $time;
  -moz-transition: linear $time;
  -ms-transition: linear $time;
  -o-transition: linear $time;
  transition: linear $time;
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content
  }
  &:-moz-placeholder {
    @content
  }
  &::-moz-placeholder {
    @content
  }
  &:-ms-input-placeholder {
    @content
  }
}

h1, h2, h3, h4, h5, h6, p, label, span, input[type="submit"], a, div {
  font-family: Cuprum, sans-serif !important;
}

body {
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: $buttonColor;
  }
}

/*                                            .         .
8888888 8888888888 8 8888888888            ,8.       ,8.          8 888888888o   8 8888                  .8.    8888888 8888888888 8 8888888888     d888888o.
      8 8888       8 8888                 ,888.     ,888.         8 8888    `88. 8 8888                 .888.         8 8888       8 8888         .`8888:' `88.
      8 8888       8 8888                .`8888.   .`8888.        8 8888     `88 8 8888                :88888.        8 8888       8 8888         8.`8888.   Y8
      8 8888       8 8888               ,8.`8888. ,8.`8888.       8 8888     ,88 8 8888               . `88888.       8 8888       8 8888         `8.`8888.
      8 8888       8 888888888888      ,8'8.`8888,8^8.`8888.      8 8888.   ,88' 8 8888              .8. `88888.      8 8888       8 888888888888  `8.`8888.
      8 8888       8 8888             ,8' `8.`8888' `8.`8888.     8 888888888P'  8 8888             .8`8. `88888.     8 8888       8 8888           `8.`8888.
      8 8888       8 8888            ,8'   `8.`88'   `8.`8888.    8 8888         8 8888            .8' `8. `88888.    8 8888       8 8888            `8.`8888.
      8 8888       8 8888           ,8'     `8.`'     `8.`8888.   8 8888         8 8888           .8'   `8. `88888.   8 8888       8 8888        8b   `8.`8888.
      8 8888       8 8888          ,8'       `8        `8.`8888.  8 8888         8 8888          .888888888. `88888.  8 8888       8 8888        `8b.  ;8.`8888
      8 8888       8 888888888888 ,8'         `         `8.`8888. 8 8888         8 888888888888 .8'       `8. `88888. 8 8888       8 888888888888 `Y8888P ,88P'
*/

#header {
  position: fixed;
  background-color: transparent;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 15px 0;
  @include elementTransition(.3s);

  &.fixed {
    background-color: $fontColor;
    @include elementTransition(.3s);
  }

  .header--logo {
    float: left;

    a {
      font-family: Pacifico, cursive !important;
      color: #fff;
      font-size: 40px;
      text-decoration: none;
    }
  }

  .header--buttons {
    float: right;

    .button {
      font-family: Cuprum, sans-serif;
      color: #fff;
      font-size: 20px;
      padding: 15px 20px;
      text-align: center;
      display: inline-block;
      background-color: $buttonColor;
      line-height: 20px;
      text-decoration: none;
      border-radius: 50px;
      border: 1px solid $buttonColor;
      outline: none;
      margin-right: 15px;
      @include elementTransition(.3s);

      &:hover {
        color: $buttonColor;
        background-color: transparent;
        @include elementTransition(.3s);
      }
    }
  }
}

#home {
  height: 100vh;
  position: relative;
  width: 100%;

  .slide {
    height: 100vh;
    width: 100%;
    background-position: center center;
  }

  .home--wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: table;

    .header {
      display: table-cell;
      text-align: center;
      vertical-align: middle;

      h1 {
        margin: 0 0 30px;
        font-family: Pacifico, cursive !important;
        color: #fff;
        font-size: 60px;
      }

      h4 {
        font-family: Cuprum, sans-serif;
        font-size: 26px;
        text-transform: uppercase;
        color: #fff;
        margin: 0 0 20px;
      }

      .button {
        font-family: Cuprum, sans-serif;
        color: #fff;
        font-size: 20px;
        padding: 15px 20px;
        text-align: center;
        display: inline-block;
        background-color: $buttonColor;
        line-height: 20px;
        text-decoration: none;
        border-radius: 50px;
        border: 1px solid $buttonColor;
        outline: none;
        margin-right: 15px;
        @include elementTransition(.3s);

        &:hover {
          color: $buttonColor;
          background-color: transparent;
          @include elementTransition(.3s);
        }
      }
    }
  }
}

#dashboard--herobanner {
  background: url("../img/dashboard-herobanner.jpg"), no-repeat;
  background-size: cover;
  width: 100%;
  height: 375px;
  display: table;
  position: relative;

  .dashboard--header {
    display: table-cell;
    text-align: center;
    vertical-align: middle;

    h1 {
      font-size: 50px;
      color: #fff;
      margin: 0;
    }
  }
}

#dashboard {
  padding: 50px 0;
  background-color: #fff;

  md-pagination-wrapper {
    md-ink-bar {
      color: $buttonColor;
      background-color: $buttonColor;
    }

    .md-tab {
      &:before {
        font-family: FontAwesome;
        color: $fontColor;
        display: inline-block;
        font-size: 22px;
      }

      &:nth-child(1) {
        &:before {
          content: '\f067';
        }
      }

      &:nth-child(2) {
        &:before {
          content: '\f291';
        }
      }

      &:nth-child(3) {
        &:before {
          content: '\f085';
        }
      }

      span {
        display: none;
      }
    }
  }

  #products {
    background-color: #fff;
    overflow: hidden;

    .input--filter {
      display: block;
      padding: 30px 0 0;

      span {
        font-size: 16px;
        margin-right: 20px;
      }

      input {
        outline: none;
        padding: 5px 5px 5px 30px;
        font-family: Cuprum, sans-serif;
        font-size: 14px;
        color: #25363a;
        border: 1px solid #ddd;
        background-image: url(../img/write.png);
        background-repeat: no-repeat;
        background-size: 20px 20px;
        background-position: 5px center;
      }
    }

    .column--order,
    .column--sale {
      padding: 40px 0 50px;

      h2 {
        font-size: 26px;
        margin: 0 0 30px;
      }

      .product {
        height: 400px;

        &__image {
          height: 300px;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
          @include elementTransition(.3s);
        }

        &__text {
          width: 100%;
          padding: 15px 0;
          background-color: $lightGrey;
          @include elementTransition(.3s);

          h4 {
            text-align: center;
            margin: 0;
            font-size: 22px;
            text-transform: uppercase;
          }

          &--name {
            color: $productColor;
            margin-bottom: 10px !important;
          }

          &--info {
            .price {
              color: $buttonColor;
            }

            .unit,
            .currency {
              color: $greyColor;
              font-size: 16px;
            }
          }

          .button__bar {
            margin-top: 15px;

            .button--order {
              width: 35px;
              height: 35px;
              border: 1px solid rgba(#fff, 0.3);
              border-radius: 35px;
              display: none;
              margin: 0 auto;
              text-align: center;
              line-height: 35px;
              min-width: 35px;
              color: rgba(#fff, 0.3);
              @include elementTransition(.3s);

              i {
                font-family: FontAwesome;
                font-size: 18px;
              }

              &:hover {
                border-color: rgba(#fff, 1);
                color: rgba(#fff, 1);
                @include elementTransition(.3s);
              }
            }
          }
        }

        &:hover {
          .product__image {
            height: 250px;
            @include elementTransition(.3s);
          }

          .product__text {
            background-color: $buttonColor;
            padding: 21px 0;
            @include elementTransition(.3s);

            h4.product__text--info {
              span {
                color: #fff !important;
              }
            }

            .button__bar {
              .button--order {
                display: block;
              }
            }
          }
        }
      }
    }

    .column--sale {

    }
  }

  #cart {
    overflow: hidden;
    padding: 50px 0 0;
    background-color: #fff;

    .cart__empty {
      h2 {
        margin: 0;
        text-align: center;
        padding: 125px 0;
      }
    }

    .cart--products {
      h2 {
        margin: 0 0 30px;
      }

      .product__ordered {
        height: 200px;
        margin-bottom: 20px;

        .row {
          height: 100%;

          .product__ordered--image {
            height: 100%;
            background-position: center center;
            background-size: auto 200px;
            background-repeat: no-repeat;
            position: relative;

            &:before {
              content: '';
              width: 30px;
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
              background-color: $buttonColor;
            }
          }

          .product__ordered--info {
            display: table;
            height: 100%;
            background-color: #fafafa;

            p {
              display: table-cell;
              vertical-align: middle;
              text-align: center;
              text-transform: uppercase;

              .name {
                font-size: 24px;
                color: $fontColor;
                display: block;
                margin: 0 0 20px;
                text-transform: uppercase;
              }

              span {
                font-size: 18px;
              }

              .quantity,
              .value {
                color: $buttonColor;
              }

              .currency {
                font-size: 16px;
                color: $greyColor;
              }

              .val-label {
                margin-left: 5px;
              }
            }
          }

          .button__group {
            background-color: $buttonColor;
            height: 100%;
            display: table;

            .buttons {
              display: table-cell;
              text-align: center;
              vertical-align: middle;

              button.button {
                background-color: #fff;
                width: 50px;
                height: 50px;
                border-radius: 50px;
                min-width: 50px;
              }
            }
          }
        }
      }
    }

    .order--summary {
      .order--value {
        text-align: right;
        font-size: 24px;
        margin-top: 40px;
        text-transform: uppercase;

        .value {
          color: $buttonColor;
          margin-left: 10px;
        }

        .currency {
          color: $greyColor;
          font-size: 18px;
          margin-left: 2px;
        }
      }

      .button__bar {
        text-align: right;
        margin-top: 30px;

        button.button--order {
          background-color: $buttonColor;
          color: #fff;
        }
      }
    }
  }

  #settings {
    overflow: hidden;
    background-color: #fff;

    .settings--wrapper {
      padding: 40px 0;

      h2 {
        font-size: 28px;
        margin: 0 0 30px;
      }

      .two__column {
        padding: 0 0 30px;

        .column {
          margin-bottom: 30px;

          &.column--first {
            .user--info {
              p {
                margin: 0;
                padding: 5px 20px;

                &:nth-child(odd) {
                  background-color: $buttonColor;
                  color: #fff;
                }
              }
            }
          }

          &.column--second {
            .button__group {
              div.bar {
                padding: 15px 0;
                width: 100%;
                text-align: right;

                .text {
                  float: left;
                  position: relative;
                  top: 11px
                }

                button {
                  &.button--delete {
                    background-color: $errorColor;
                  }

                  &.button--data,
                  &.button--password {
                    background-color: $buttonColor;
                  }

                  i {
                    font-family: FontAwesome;
                    color: #fff;
                  }
                }
              }

              hr {
                margin: 0;
              }
            }
          }
        }
      }

      .order__bar {
        padding: 15px 0;
        background-color: $buttonColor;
        margin: 0;

        div {
          color: #fff;
          font-size: 16px;
        }
      }

      .order {
        width: 100%;
        height: 70px;
        margin: 0;

        .row {
          display: table;
          width: 100%;
          margin: 0;
          height: 100%;

          div {
            display: table-cell;
            vertical-align: middle;
            float: none;
            font-size: 16px;

            &.button__bar {
              text-align: center;

              .button {
                background-color: $buttonColor;
                width: 35px;
                height: 35px;
                border-radius: 35px;
                min-width: 35px;

                i {
                  font-family: FontAwesome;
                  color: #fff;
                }
              }
            }

            &.delivery {
              text-transform: capitalize;
            }

            &.value {
              color: $buttonColor;

              span {
                text-transform: uppercase;
                font-size: 14px;
                color: $greyColor;
              }
            }
          }
        }

        &:nth-child(even) {
          background-color: #f5f5f5;
        }
      }

      .cart__empty {
        padding: 100px 0;

        h2 {
          text-align: center;
          margin: 0;
        }
      }
    }
  }
}

#about {
  background-color: #fff;
  width: 100%;
  padding: 60px 0;

  .about--header {
    h2 {
      font-size: 50px;
      font-family: Pacifico, cursive !important;
      text-align: center;
      margin: 0 0 60px;
      color: $fontColor;
    }
  }

  .three__column {
    .column {
      &__image {
        margin: 40px 0;

        img {
          width: 100%;
          height: auto;
        }
      }

      .vege {
        margin: 0 0 40px;

        .icon {
          position: relative;
          width: 90px;
          height: 90px;
          display: block;
          margin: 0 auto 40px;

          i {
            color: #86bc42;
            font-size: 45px;
            line-height: 90px;
            display: block;
            text-align: center;
          }

          .circle {
            position: absolute;
            top: 0;
            left: 50%;
            margin-left: -45px;
            border: 1px solid #c7c7c7;
            border-radius: 92% 110% 132% 88%;
            -webkit-transform-origin: 50% 50%;
            -ms-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
            -webkit-transition: all .5s ease;
            -moz-transition: all .5s ease;
            -o-transition: all .5s ease;
            transition: all .5s ease;
            width: 100%;
            height: 100%;

            &:nth-child(1) {
              -webkit-animation: spin4 6s linear infinite;
              animation: spin1 6s linear infinite;
            }

            &:nth-child(2) {
              -webkit-animation: spin4 6s linear infinite;
              animation: spin2 6s linear infinite;
            }

            &:nth-child(3) {
              -webkit-animation: spin4 6s linear infinite;
              animation: spin3 6s linear infinite;
            }

            &:nth-child(4) {
              -webkit-animation: spin4 6s linear infinite;
              animation: spin4 6s linear infinite;
            }
          }
        }

        h3 {
          text-align: center;
          font-size: 22px;
          color: $fontColor;
          margin: 0 0 20px;
        }

        p {
          text-align: center;
          font-size: 16px;
          color: $fontColor;
          margin: 0;
        }
      }
    }
  }
}

#leaf {
  width: 100%;
  height: 600px;
  background-image: url(../img/about-banner-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;

  .frame {
    padding: 80px 60px;
    border: 10px solid #fff;
    text-align: center;
    z-index: 2;

    h3 {
      font-size: 40px;
      color: $buttonColor;
      text-transform: uppercase;
      font-weight: 600;
      margin: 0 0 30px;
    }

    h2 {
      font-size: 70px;
      color: #fff;
      letter-spacing: 5px;
      text-transform: uppercase;
      margin: 0 0 20px;
    }

    p {
      font-size: 18px;
      margin: 0;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #d4dfd1;
    }
  }

  .leaf--mask {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(../img/about-banner-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
}

#contact {
  width: 100%;
  padding: 60px 0;
  background-color: #fff;

  .contact--header {
    text-align: center;
    padding: 0 0 40px;

    h2 {
      font-size: 50px;
      color: $fontColor;
      margin: 0 0 25px;
      text-transform: uppercase;
    }

    p {
      font-size: 18px;
      text-transform: uppercase;
      color: $fontColor;
      margin: 0;
    }
  }

  .contact--form {
    form {
      md-input-container {
        display: block;
        width: 80%;
        margin-left: auto;
        margin-right: auto;

        &.text {
          width: 94%;

          textarea {
            height: 125px !important;
            padding: 10px;
          }
        }

        input,
        textarea {
          color: $fontColor !important;
          font-family: Cuprum, sans-serif;
          font-size: 18px;
          background-color: #fff !important;
          line-height: 20px;

          @include placeholder {
            font-size: 18px !important;
            color: $fontColor;
          }
        }

        label {
          font-size: 18px;
          font-family: Cuprum, sans-serif;
          font-weight: 300;

          &:after {
            color: inherit;
          }
        }

        &.md-input-invalid {
          label {
            color: $errorColor;
          }

          input, textarea {
            border-color: $errorColor;
          }
        }

        &.md-input-focused {
          label {
            color: $buttonColor !important;
          }

          input,
          textarea {
            border-color: $buttonColor !important;
          }

          &.md-input-invalid {
            label {
              color: $errorColor;
            }

            input {
              border-color: $errorColor;
            }
          }
        }
      }

      button.md-button {
        display: block;
        margin: 0 auto !important;
        padding: 10px 35px !important;
        font-size: 18px;
        color: #fff;
        background-color: $buttonColor;
        border-radius: 60px;
      }
    }
  }
}

#footer {
  background-color: #000;
  padding: 30px 0;

  p {
    color: #fff;
    font-size: 18px;
    margin: 0;
    font-weight: 300;
    font-family: Pacifico, cursive !important;

    span {
      margin: 0 10px;
    }
  }
}

/*                                                            .         .
8 8888888888       ,o888888o.     8 888888888o.            ,8.       ,8.            d888888o.
8 8888          . 8888     `88.   8 8888    `88.          ,888.     ,888.         .`8888:' `88.
8 8888         ,8 8888       `8b  8 8888     `88         .`8888.   .`8888.        8.`8888.   Y8
8 8888         88 8888        `8b 8 8888     ,88        ,8.`8888. ,8.`8888.       `8.`8888.
8 888888888888 88 8888         88 8 8888.   ,88'       ,8'8.`8888,8^8.`8888.       `8.`8888.
8 8888         88 8888         88 8 888888888P'       ,8' `8.`8888' `8.`8888.       `8.`8888.
8 8888         88 8888        ,8P 8 8888`8b          ,8'   `8.`88'   `8.`8888.       `8.`8888.
8 8888         `8 8888       ,8P  8 8888 `8b.       ,8'     `8.`'     `8.`8888.  8b   `8.`8888.
8 8888          ` 8888     ,88'   8 8888   `8b.    ,8'       `8        `8.`8888. `8b.  ;8.`8888
8 8888             `8888888P'     8 8888     `88. ,8'         `         `8.`8888. `Y8888P ,88P'
*/

div.md-dialog-container {
  background-color: rgba(#000, 0.8);
  z-index: 2000 !important;
}

.dialog--register,
.dialog--edit,
.dialog--login,
.dialog--reset {
  width: 600px !important;
  height: auto;

  md-toolbar {
    background-color: $buttonColor;

    h2 {
      width: 100%;
      text-align: center;
      font-size: 24px;
      font-weight: 400;
      font-family: Cuprum, sans-serif !important;
    }
  }

  .dialog__content {
    padding: 30px 20px !important;

    md-input-container {
      display: inline-block;
      width: 49%;
      margin: 10px 0 !important;

      input {
        color: $fontColor !important;
        font-family: Cuprum, sans-serif;
        font-size: 18px;
        background-color: #fff !important;
        line-height: 20px;

        &:-webkit-autofill {
          background-color: #fff !important;
          color: $fontColor;
        }

        &::-webkit-validation-bubble-message {
          display: none !important;
        }

        @include placeholder {
          font-size: 18px !important;
          color: $fontColor;
        }
      }

      label {
        font-size: 18px;
        font-family: Cuprum, sans-serif;
        font-weight: 300;

        &:after {
          color: inherit;
        }
      }

      &.md-input-invalid {
        label {
          color: $errorColor;
        }

        input {
          border-color: $errorColor;
        }
      }

      &.md-input-focused {
        label {
          color: $buttonColor;
        }

        input {
          border-color: $buttonColor;
        }

        &.md-input-invalid {
          label {
            color: $errorColor;
          }

          input {
            border-color: $errorColor;
          }
        }
      }

      &.md-input-has-value {
        input {
          background-color: transparent;
        }
      }

      div[ng-message] {
        color: $errorColor;
        font-size: 14px;
      }

      &.last {
        width: 100%;
        input {
          display: block;
        }
      }

      .md-errors-spacer {
        .md-char-counter {
          font-size: 14px;
          color: $fontColor;
        }
      }
    }

    button.md-button {
      display: block;
      margin: 0 0 0 auto !important;
      padding: 5px 25px !important;
      font-size: 18px;
      color: #fff;
      background-color: $buttonColor;
      border-radius: 60px;
    }
  }
}

.dialog {
  width: 300px;
  height: auto;
  display: inline-block;

  &.dialog--login,
  &.dialog--reset {
    width: 300px !important;

    md-input-container {
      display: block;
      width: 100%;
    }
  }

  &.dialog--product {
    .dialog__content {
      input,
      select {
        width: 100%;
        margin: 10px 0 15px !important;
        font-family: Cuprum, sans-serif;
        color: $fontColor;
      }
    }
  }

  p {
    margin: 10px 0;
    font-size: 16px;

    &.warning {
      margin: 0 0 20px;
      text-transform: uppercase;
      color: $errorColor !important;
    }

    &.change-error {
      margin: 20px 0 0;
      color: $errorColor !important;
    }
  }

  md-toolbar {
    background-color: $buttonColor;

    h2 {
      width: 100%;
      text-align: center;
      font-size: 28px;
      font-weight: 400;
      font-family: Pacifico, cursive !important;
    }
  }

  .dialog__content {
    padding: 10px;

    &--text {
      padding: 10px 15px;

      p {
        text-align: center;
        font-size: 18px;
        color: $fontColor;
      }

      input {
        display: block;
        margin: 0 auto !important;
        border: 0;
        border-bottom: 1px solid #25363a;
        outline: none;
        text-align: right;
        margin-left: auto;
      }

      select {
        width: 90%;
        font-size: 16px;
        font-family: Cuprum, sans-serif;
        margin: 0 auto;
        display: block;
        padding: 4px 6px;
        color: $fontColor;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: none;
        border: 0;
        border-bottom: 1px solid $fontColor;
        background-image: url(../img/angle-right.png);
        background-repeat: no-repeat;
        background-position: 95% center;
        background-size: 8px 13px;
        text-transform: capitalize;
      }

      div.ng-active {
        margin-top: 15px;

        div {
          color: $errorColor;
          text-align: center;
        }
      }

      .dialog--error {
        margin-top: 15px;
        color: $errorColor;
        text-align: center;
      }
    }

    .md-button {
      font-family: Cuprum, sans-serif !important;
      margin: 30px 0 0 auto !important;
      background-color: $buttonColor;
      padding: 0 !important;
      color: #fff;
      line-height: 40px !important;
      display: block;

      &.remove {
        background-color: $errorColor;
        color: #fff;
      }

      i {
        font-family: FontAwesome;
        color: #fff;
        line-height: 39px;
        vertical-align: middle;
      }

      &:hover {
        background-color: $buttonColor !important;
      }
    }
  }
}

.dialog--list {
  .dialog__content {
    .list--item {
      margin: 0 0 8px;

      .name,
      .category,
      .unit {
        font-size: 16px;
        text-transform: uppercase;
        color: $fontColor;
      }

      .unit {
        margin-right: 6px;
      }

      .category {
        text-transform: capitalize;
      }

      .price {
        font-size: 16px;
        color: $buttonColor;
        margin-left: 6px;
      }

      .currency {
        color: $greyColor;
        text-transform: uppercase;
        font-size: 14px;
      }

      .right {
        float: right;
      }
    }
  }
}

#admin--herobanner {
  background: url("../img/admin-banner.jpg"), no-repeat;
  background-size: cover;
  width: 100%;
  height: 375px;
  display: table;
  position: relative;

  .admin--header {
    display: table-cell;
    text-align: center;
    vertical-align: middle;

    h1 {
      font-size: 50px;
      color: #fff;
      margin: 0;
    }
  }
}

#admin {
  padding: 30px 0;
  background-color: #fff;

  md-pagination-wrapper {
    md-ink-bar {
      color: $buttonColor;
      background-color: $buttonColor;
    }

    .md-tab {
      &:before {
        font-family: FontAwesome;
        color: $fontColor;
        display: inline-block;
        font-size: 22px;
      }

      &:nth-child(1) {
        &:before {
          content: '\f03a';
        }
      }

      &:nth-child(2) {
        &:before {
          content: '\f187';
        }
      }

      &:nth-child(3) {
        &:before {
          content: '\f0ad';
        }
      }

      span {
        display: none;
      }
    }
  }

  md-content {
    overflow: hidden;
    background-color: #fff;

    .admin--subheader {
      margin: 30px 0;

      h2 {
        margin: 0;
        display: inline-block;
      }

      .button--add {
        background-color: #86bc42;
        width: 35px;
        height: 35px;
        border-radius: 35px;
        min-width: 35px;
        margin: 0 0 0 20px;
        vertical-align: bottom;
        color: #fff;
      }
    }

    .order__bar,
    .order__bar--archived,
    .product__bar {
      padding: 15px 0;
      background-color: $buttonColor;
      margin: 0;

      div {
        color: #fff;
        font-size: 16px;
      }
    }

    .order,
    .order--archived,
    .product {
      display: block;
      width: 100%;
      height: 70px;
      margin: 0;

      .row {
        width: 100%;
        display: table;
        height: 100%;
        margin: 0;

        div {
          display: table-cell;
          vertical-align: middle;
          float: none;
          font-size: 16px;

          .button {
            background-color: $buttonColor;
            width: 35px;
            height: 35px;
            border-radius: 35px;
            min-width: 35px;

            i {
              font-family: FontAwesome;
              color: #fff;
            }
          }

          &.delivery {
            text-transform: capitalize;
          }

          &.value {
            color: $buttonColor;

            span {
              text-transform: uppercase;
              font-size: 14px;
              color: $greyColor;
            }
          }
        }
      }

      &:nth-child(even) {
        background-color: #f5f5f5;
      }
    }

    &#archive,
    &#products {

      .input--filter {
        padding: 0 0 30px;
        text-align: right;

        span {
          font-size: 16px;
          margin-right: 20px;
        }

        input {
          outline: none;
          padding: 5px 20px 5px 5px;
          font-family: Cuprum, sans-serif;
          font-size: 14px;
          color: $fontColor;
          border: 1px solid #cccccc;
        }
      }

      .order--archived,
      .product {
        .name,
        .category,
        .unit {
          font-size: 16px;
          text-transform: uppercase;
          color: $fontColor;
        }

        .category {
          text-transform: capitalize;
        }

        .price {
          font-size: 16px;
          color: $buttonColor;

          span {
            color: $greyColor;
            text-transform: uppercase;
            font-size: 14px;
          }
        }

        .button--delete {
          background-color: $errorColor;
        }
      }
    }

    .cart__empty {
      padding: 100px 0;

      h2 {
        text-align: center;
        margin: 0;
      }
    }
  }
}

@keyframes spin1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin2 {
  0% {
    -webkit-transform: rotate(72deg);
    transform: rotate(72deg);
  }
  100% {
    -webkit-transform: rotate(-288deg);
    transform: rotate(-288deg);
  }
}

@keyframes spin3 {
  0% {
    -webkit-transform: rotate(-144deg);
    transform: rotate(-144deg);
  }
  100% {
    -webkit-transform: rotate(216deg);
    transform: rotate(216deg);
  }
}

@keyframes spin4 {
  0% {
    -webkit-transform: rotate(216deg);
    transform: rotate(216deg);
  }
  100% {
    -webkit-transform: rotate(-144deg);
    transform: rotate(-144deg);
  }
}

@media screen and (max-width: 767px) {

  #header {
    #button--mobile {
      font-family: FontAwesome;
      font-size: 40px;
      color: #fff;
      float: right;
      margin-right: 20px;
      cursor: pointer;
    }

    .button__bar {
      display: none;

      &.show {
        display: block;
      }

      .header--buttons {
        float: none;
        margin-top: 15px;

        .button {
          display: block;
          margin: 0 auto 10px;
          max-width: 180px;
        }
      }
    }
  }

  #leaf {
    .frame {
      h3 {
        font-size: 24px;
      }

      h2 {
        font-size: 30px;
      }

      p {
        font-size: 14px;
      }
    }
  }

  #contact {
    .contact--form {
      form {
        md-input-container {
          width: 100%;
        }
      }
    }
  }

  #dashboard {
    #cart {
      .cart--products {
        .product__ordered {
          height: auto;

          .row {
            .product__ordered--image {
              height: 200px;
            }

            .product__ordered--info,
            .button__group {
              padding: 20px 0;
            }
          }
        }
      }
    }

    #settings {
      .settings--wrapper {
        .order {
          .row {
            div {
              text-align: center;
              margin: 0 0 6px;
            }
          }
        }
      }
    }
  }

  #admin {

    .order--archived,
    .product {
      padding: 20px 0;
    }

    .order,
    .order--archived,
    .product {
      height: auto !important;

      .row {
        div {
          text-align: center;
          margin: 0 0 6px;
          display: inline-block !important;
        }
      }
    }
  }

  .dialog--register,
  .dialog--edit {
    .dialog__content {
      md-input-container {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  #dashboard {
    #settings {
      .settings--wrapper {
        .order {
          display: block;
          height: auto;
          padding: 20px 0;

          .row {
            width: 100%;
            display: table;
            margin: 0;

            div {
              display: inline-block;
            }

            div.button__bar {
              .button {
                margin-left: 0;
                margin-right: 0;
              }
            }
          }
        }
      }
    }
  }

  #admin {

    .order {
      display: block;
      height: auto;
      padding: 20px 0;

      .row {
        width: 100%;
        display: table;
        margin: 0;

        div {
          display: inline-block;
        }

        div.button__bar {
          .button {
            margin-left: 0;
            margin-right: 0;
          }
        }
      }
    }
  }
}
