<section id="admin--herobanner">
    <div class="admin--header header">
        <h1>Panel administratora</h1>
    </div>
</section>
<section id="admin">
    <div class="container">
        <md-tabs md-dynamic-height>
            <md-tab label="one" class="order__list">
                <md-content>
                    <div class="admin--subheader subheader">
                        <h2>Najnowsze zamówienia</h2>
                    </div>
                    <div class="cart__empty empty" ng-show="emptyOrders">
                        <h2>Obecnie nie ma żadnych nowych zamówień.</h2>
                    </div>
                    <div ng-show="!emptyOrders">
                        <div class="row order__bar hidden-xs">
                            <div class="col-md-3 col-sm-3">
                                Zamawiający
                            </div>
                            <div class="col-md-2 col-sm-2">
                                Data
                            </div>
                            <div class="col-md-2 col-sm-2">
                                Typ dostawy
                            </div>
                            <div class="col-md-2 col-sm-2">
                                Wartość
                            </div>
                            <div class="col-md-3 col-sm-3">
                            </div>
                        </div>
                        <div class="order" ng-repeat="order in orders | orderBy : 'date' : true"
                             ng-model="$scope.orders">
                            <div class="row">
                                <div class="col-md-3 col-sm-3 col-xs-6">
                                    {{ order.user.name }} {{ order.user.surname }}
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-6">
                                    {{ order.date | date:'dd.MM.yyyy' }}r.
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-6 delivery">
                                    {{ order.deliveryType.type }}
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-6 value">
                                    {{ order.sum | number : 2 }} <span>zł</span>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12 button__bar">
                                    <md-button type="button" aria-label="Edit button"
                                               class="button--edit button"
                                               ng-click="listOrderProducts(order)">
                                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                    </md-button>
                                    <md-button type="button" aria-label="Edit button"
                                               class="button--delete button"
                                               ng-click="markAsCompleted(order)">
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                    </md-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="two">
                <md-content id="archive">
                    <div class="admin--subheader subheader">
                        <h2>Zrealizowane zamówienia</h2>
                    </div>
                    <div class="cart__empty empty" ng-show="emptyArchivedOrders">
                        <h2>Obecnie nie ma żadnych zrealizowanych zamówień.</h2>
                    </div>
                    <div ng-show="!emptyArchivedOrders">
                        <div class="input--filter input">
                            <span>Wyszukaj:</span><input type="text" ng-model="inputFilter"/>
                        </div>
                        <div class="row order__bar--archived hidden-xs">
                            <div class="col-md-3 col-sm-3">
                                Zamawiający
                            </div>
                            <div class="col-md-2 col-sm-2">
                                Data
                            </div>
                            <div class="col-md-2 col-sm-2">
                                Typ dostawy
                            </div>
                            <div class="col-md-2 col-sm-2">
                                Wartość
                            </div>
                            <div class="col-md-3 col-sm-3">
                            </div>
                        </div>
                        <div class="order--archived"
                             ng-repeat="archivedOrder in archivedOrders | filter : inputFilter | orderBy : 'date' : true"
                             ng-model="$scope.orders">
                            <div class="row">
                                <div class="col-md-3 col-sm-3 col-xs-6">
                                    {{ archivedOrder.user.name }} {{ archivedOrder.user.surname }}
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-6">
                                    {{ archivedOrder.date | date:'dd.MM.yyyy' }}r.
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-6 delivery">
                                    {{ archivedOrder.deliveryType.type }}
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-6 value">
                                    {{ archivedOrder.sum | number : 2}} <span>zł</span>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <md-button type="button" aria-label="Edit button"
                                               class="button--edit button"
                                               ng-click="listOrderProducts(archivedOrder)">
                                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                    </md-button>
                                    <md-button type="button" aria-label="Edit button"
                                               class="button--delete button"
                                               ng-click="deleteArchivedOrder(archivedOrder)">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </md-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="three">
                <md-content id="products">
                    <div class="admin--subheader subheader">
                        <h2>Produkty</h2>
                        <md-button type="button" aria-label="Edit button"
                                   class="button--add button"
                                   ng-click="addProductModal()">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </md-button>
                    </div>
                    <div class="input--filter input">
                        <span>Wyszukaj:</span><input type="text" ng-model="inputFilter"/>
                    </div>
                    <div class="row product__bar hidden-xs">
                        <div class="col-md-3 col-sm-3">
                            Nazwa
                        </div>
                        <div class="col-md-2 col-sm-2">
                            Cena
                        </div>
                        <div class="col-md-2 col-sm-2">
                            Kategoria
                        </div>
                        <div class="col-md-2 col-sm-2">
                            Jednostka
                        </div>
                        <div class="col-md-3 col-sm-3">
                        </div>
                    </div>
                    <div class="product row"
                         ng-repeat="product in products | filter : inputFilter"
                         ng-model="$scope.orders">
                        <div class="row">
                            <div class="col-md-3 col-sm-3 col-xs-6 name">
                                {{ product.name }}
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-6 price">
                                {{ product.price }} <span>zł</span>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-6 category">
                                {{ product.category.name }}
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-6 unit">
                                {{ product.unit.name }}
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <md-button type="button" aria-label="Edit button"
                                           class="button--edit button"
                                           ng-click="editProductModal(product)">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </md-button>
                                <md-button type="button" aria-label="Edit button"
                                           class="button--delete button"
                                           ng-click="deleteProduct(product)">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </md-button>
                            </div>
                        </div>
                    </div>
                </md-content>
            </md-tab>
        </md-tabs>
    </div>
</section>