<md-dialog class="dialog--delete dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Usuwanie konta</h2>
        </div>
    </md-toolbar>
    <div class="dialog__content clearfix">
        <div class="dialog__content--text">
            <p>Podaj hasło w celu weryfikacji</p>
            <form name="deleteAccountForm" ng-submit="deleteAccount()">
                <input type="password" name="userPassword" ng-model="account.password" />
                <div ng-messages="deleteAccountForm.userPassword.$error">
                    <div ng-message="required">To pole jest wymagane</div>
                </div>
                <md-button class="md-icon-button remove" type="submit" aria-label="Add product">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                </md-button>
            </form>
            <div class="removal-error" ng-show="removalError">
                Podane hasło jest nieprawidłowe!
            </div>
        </div>
    </div>
</md-dialog>