<md-dialog class="dialog--change dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Zmiana hasła</h2>
        </div>
    </md-toolbar>
    <div class="dialog__content clearfix">
        <div class="dialog__content--text">
            <p class="warning">Jeśli zmiana hasła przebiegnie pomyślnie, zostaniesz wylogowany!</p>
            <form name="passwordChange" ng-submit="confirmPasswordChange()">
                <p>Wprowadź stare hasło</p>
                <input type="password" name="password" ng-model="password" required/>
                <div ng-messages="passwordChange.password.$error">
                    <div ng-message="required">To pole jest wymagane</div>
                </div>
                <p>Wprowadź nowe hasło</p>
                <input type="password" name="newPassword" ng-model="newPassword" required/>
                <div ng-messages="passwordChange.newPassword.$error">
                    <div ng-message="required">To pole jest wymagane</div>
                </div>
                <p>Powtórz nowe hasło</p>
                <input type="password" name="repeatedPassword" ng-model="repeatedPassword" required/>
                <div ng-messages="passwordChange.repeatedPassword.$error">
                    <div ng-message="required">To pole jest wymagane</div>
                </div>
                <p class="change-error" ng-show="changeError">Wprowadź dane raz jeszcze!</p>
                <md-button class="md-icon-button" type="submit" aria-label="Add product">
                    <i class="fa fa-check" aria-hidden="true"></i>
                </md-button>
            </form>
        </div>
    </div>
</md-dialog>