<md-dialog class="dialog--delivery dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Verde</h2>
        </div>
    </md-toolbar>
    <div class="dialog__content clearfix">
        <div class="dialog__content--text">
            <p>Wybierz sposób dostawy zamówienia</p>
            <form name="orderDelivery" ng-submit="confirmOrder()">
                <select type="select" name="orderType" ng-model="order.orderType" required="required">
                    <option value="" disabled>-- Sposób dostawy --</option>
                    <option ng-repeat="deliveryType in deliveryTypes" value="{{ deliveryType.id }}">
                        {{ deliveryType.type }}
                    </option>
                </select>
                <div ng-messages="orderDelivery.orderType.$error">
                    <div ng-message="required">To pole jest wymagane</div>
                </div>
                <md-button class="md-icon-button" type="submit" aria-label="Add product">
                    <i class="fa fa-check" aria-hidden="true"></i>
                </md-button>
            </form>
        </div>
    </div>
</md-dialog>