<md-dialog class="dialog--edit dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Zmiana danych</h2>
        </div>
    </md-toolbar>
    <div class="dialog__content clearfix">
        <form name="editUserForm"  ng-submit="editUser()">
            <md-input-container>
                <input required minlength="3" type="text" ng-model="user.name" name="name" aria-label="name"
                       placeholder="Imię"/>
                <div ng-messages="editUserForm.name.$error">
                    <div ng-message="required">To pole jest wymagane</div>
                    <div ng-message="minlength">Podaj conajmniej 3 znaki</div>
                </div>
            </md-input-container>

            <md-input-container>
                <input required minlength="3" type="text" ng-model="user.surname" name="surname" aria-label="surname"
                       placeholder="Nazwisko"/>
                <div ng-messages="editUserForm.surname.$error">
                    <div ng-message="required">To pole jest wymagane</div>
                    <div ng-message="minlength">Podaj conajmniej 3 znaki</div>
                </div>
            </md-input-container>

            <md-input-container>
                <input minlength="2" type="text" ng-model="user.company" name="company" aria-label="company"
                       placeholder="Firma"/>
                <div ng-messages="editUserForm.company.$error">
                    <div ng-message="minlength">Podaj conajmniej 2 znaki</div>
                </div>
            </md-input-container>

            <md-input-container>
                <input minlength="11" md-maxlength="11" type="number" ng-model="user.NIP" name="NIP" aria-label="NIP"
                       placeholder="NIP"/>
                <div ng-messages="editUserForm.NIP.$error">
                    <div ng-message="minlength">Wprowadź 11 znaków</div>
                    <div ng-message="md-maxlength">Wprowadź 11 znaków</div>
                </div>
            </md-input-container>

            <md-input-container>
                <input minlength="11" md-maxlength="11" type="number" ng-model="user.REGON" name="REGON"
                       aria-label="REGON" placeholder="REGON"/>
                <div ng-messages="editUserForm.REGON.$error">
                    <div ng-message="minlength">Wprowadź 11 znaków</div>
                    <div ng-message="md-mmaxlength">Wprowadź 11 znaków</div>
                </div>
            </md-input-container>

            <md-input-container>
                <input required minlength="6" type="text" value="user.postalCode" ng-model="user.postalCode" name="postalcode"
                       aria-label="postalCode" placeholder="Kod pocztowy i miejscowość"/>
                <div ng-messages="editUserForm.postalcode.$error">
                    <div ng-message="required">To pole jest wymagane</div>
                    <div ng-message="minlength">Podaj conajmniej 6 znaków</div>
                </div>
            </md-input-container>

            <md-input-container class="last">
                <input required minlength="6" type="text" value="user.place" ng-model="user.place" name="place" aria-label="place"
                       placeholder="Adres zamieszkania"/>
                <div ng-messages="editUserForm.place.$error">
                    <div ng-message="required">To pole jest wymagane</div>
                    <div ng-message="minlength">Podaj conajmniej 6 znaków</div>
                </div>
            </md-input-container>

            <md-button type="submit" aria-label="Edit user">Zatwierdź</md-button>
            <p>{{ editMessage }}</p>
        </form>

    </div>
</md-dialog>