<md-dialog class="dialog--confirm dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Verde</h2>
        </div>
    </md-toolbar>
    <div class="dialog__content clearfix">
        <div class="dialog__content--text">
            <p>Produkt znajduje się już w koszyku</p>
        </div>
        <md-button class="md-icon-button" ng-click="ok()">
            Ok!
        </md-button>
    </div>
</md-dialog>