<md-dialog class="dialog--quantity dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Verde</h2>
        </div>
    </md-toolbar>
    <div class="dialog__content clearfix">
        <div class="dialog__content--text">
            <p>Wprowadź nową wartość</p>
            <form name="editQuantityForm" ng-submit="editQuantity()">
                <input type="number" ng-model="edittedQuantity.quantity" name="quantity" min="1" required>
                <div ng-messages="editQuantityForm.quantity.$error">
                    <div ng-message="required">To pole jest wymagane</div>
                </div>

                <md-button type="submit" class="md-icon-button" aria-label="Edit quantity">
                    <i class="fa fa-check" aria-hidden="true"></i>
                </md-button>
            </form>
        </div>
    </div>
</md-dialog>