<md-dialog class="dialog--quantity dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Verde</h2>
        </div>
    </md-toolbar>
    <div class="dialog__content clearfix">
        <div class="dialog__content--text">
            <p>Wprowadź liczbę produktów</p>
            <form name="quantityForm" ng-submit="addProduct()">
                <input type="number" ng-model="productQuantity.quantity" name="quantity" min="1" required>
                <div ng-messages="quantityForm.quantity.$error">
                    <div ng-message="required">To pole jest wymagane</div>
                </div>

                <p class="message--error message" ng-show="addingErrorShow">Ten produkt znajduje się już w koszyku!</p>

                <md-button type="submit" class="md-icon-button" aria-label="Add product">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </md-button>
            </form>
        </div>
    </div>
</md-dialog>