<md-dialog class="dialog--login dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Logowanie</h2>
        </div>
    </md-toolbar>
    <div class="dialog__content clearfix">
        <form name="loginForm" ng-controller="navigation" ng-submit="loginUser()">
            <md-input-container>
                <input required minlength="7" type="email" ng-model="credentials.username" name="username"
                       aria-label="email"
                       placeholder="Email"/>
                <div ng-messages="loginForm.email.$error">
                    <div ng-message="email">Podaj prawidłowy email</div>
                    <div ng-message="required">To pole jest wymagane</div>
                    <div ng-message="minlength">Podaj conajmniej 7 znaków</div>
                </div>
            </md-input-container>

            <md-input-container>
                <input required type="password" ng-model="credentials.password" name="password"
                       aria-label="password" placeholder="Hasło"/>
                <div ng-messages="loginForm.password.$error">
                    <div ng-message="required">To pole jest wymagane</div>
                </div>
            </md-input-container>

            <p class="message--error message" ng-show="loginError">Wprowadzone dane są nieprawidłowe!</p>

            <md-button type="submit" aria-label="Zaloguj">Zaloguj</md-button>
        </form>
    </div>
</md-dialog>