<md-dialog class="dialog--reset dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Resetowanie hasła</h2>
        </div>
    </md-toolbar>
    <div class="dialog__content clearfix">
        <form name="resetPasswordForm" ng-submit="resetPassword()">
            <md-input-container>
                <input required minlength="7" type="email" ng-model="user.username" name="username"
                       aria-label="email"
                       placeholder="Email"/>
                <div ng-messages="resetPasswordForm.email.$error">
                    <div ng-message="email">Podaj prawidłowy email</div>
                    <div ng-message="required">To pole jest wymagane</div>
                    <div ng-message="minlength">Podaj conajmniej 7 znaków</div>
                </div>
            </md-input-container>

            <p class="dialog--error error" ng-show="resetError">Podano zły email</p>

            <md-button type="submit" aria-label="Zaloguj">Resetuj</md-button>
        </form>
    </div>
</md-dialog>