<md-dialog class="dialog--register dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Rejestracja</h2>
        </div>
    </md-toolbar>
    <div class="dialog__content clearfix">
        <form name="registerForm" ng-controller="register" ng-submit="registerUser()">
            <md-input-container>
                <input required minlength="3" type="text" ng-model="user.name" name="name" aria-label="name"
                       placeholder="Imię"/>
                <div ng-messages="registerForm.name.$error">
                    <div ng-message="required">To pole jest wymagane</div>
                    <div ng-message="minlength">Podaj conajmniej 3 znaki</div>
                </div>
            </md-input-container>

            <md-input-container>
                <input required minlength="3" type="text" ng-model="user.surname" name="surname" aria-label="surname"
                       placeholder="Nazwisko"/>
                <div ng-messages="registerForm.surname.$error">
                    <div ng-message="required">To pole jest wymagane</div>
                    <div ng-message="minlength">Podaj conajmniej 3 znaki</div>
                </div>
            </md-input-container>

            <md-input-container>
                <input required minlength="7" type="email" ng-model="user.username" name="username" aria-label="email"
                       placeholder="Email"/>
                <div ng-messages="registerForm.email.$error">
                    <div ng-message="email">Podaj prawidłowy email</div>
                    <div ng-message="required">To pole jest wymagane</div>
                    <div ng-message="minlength">Podaj conajmniej 7 znaków</div>
                </div>
            </md-input-container>

            <md-input-container>
                <input required minlength="6" type="password" ng-model="user.password" name="password"
                       aria-label="password" placeholder="Hasło"/>
                <div ng-messages="registerForm.password.$error">
                    <div ng-message="required">To pole jest wymagane</div>
                    <div ng-message="minlength">Podaj conajmniej 6 znaków</div>
                </div>
            </md-input-container>

            <md-input-container>
                <input minlength="2" type="text" ng-model="user.company" name="company" aria-label="company"
                       placeholder="Firma"/>
                <div ng-messages="registerForm.company.$error">
                    <div ng-message="minlength">Podaj conajmniej 2 znaki</div>
                </div>
            </md-input-container>

            <md-input-container>
                <input minlength="11" md-maxlength="11" type="number" ng-model="user.NIP" name="NIP" aria-label="NIP"
                       placeholder="NIP"/>
                <div ng-messages="registerForm.NIP.$error">
                    <div ng-message="minlength">Wprowadź 11 znaków</div>
                    <div ng-message="md-maxlength">Wprowadź 11 znaków</div>
                </div>
            </md-input-container>

            <md-input-container>
                <input minlength="11" md-maxlength="11" type="number" ng-model="user.REGON" name="REGON"
                       aria-label="REGON" placeholder="REGON"/>
                <div ng-messages="registerForm.REGON.$error">
                    <div ng-message="minlength">Wprowadź 11 znaków</div>
                    <div ng-message="md-mmaxlength">Wprowadź 11 znaków</div>
                </div>
            </md-input-container>

            <md-input-container>
                <input required minlength="6" type="text" ng-model="user.postalCode" name="postalcode"
                       aria-label="postalCode" placeholder="Kod pocztowy i miejscowość"/>
                <div ng-messages="registerForm.postalcode.$error">
                    <div ng-message="required">To pole jest wymagane</div>
                    <div ng-message="minlength">Podaj conajmniej 6 znaków</div>
                </div>
            </md-input-container>

            <md-input-container class="last">
                <input required minlength="6" type="text" ng-model="user.place" name="place" aria-label="place"
                       placeholder="Adres zamieszkania"/>
                <div ng-messages="registerForm.place.$error">
                    <div ng-message="required">To pole jest wymagane</div>
                    <div ng-message="minlength">Podaj conajmniej 6 znaków</div>
                </div>
            </md-input-container>

            <p ng-show="registerMessageShow">Podany adres email zajęty!</p>

            <md-button type="submit" aria-label="Zarejestruj">Zarejestruj</md-button>

        </form>

    </div>
</md-dialog>