<md-dialog class="dialog--product dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Verde</h2>
        </div>
    </md-toolbar>
    <div class="dialog__content clearfix">
        <div class="dialog__content--text">
            <p>Dodaj produkt</p>
            <form name="addProductForm" ng-submit="addProduct()">
                <input type="text" name="name" ng-model="newProduct.name" placeholder="Nazwa" required="required"/>
                <div ng-messages="addProductForm.name.$error">
                    <div ng-message="required">To pole jest wymagane</div>
                </div>

                <input type="number" name="price" ng-model="newProduct.price" placeholder="Cena" required="required"
                       min="0.01" step="0.01"/>
                <div ng-messages="addProductForm.price.$error">
                    <div ng-message="required">To pole jest wymagane</div>
                </div>

                <select type="select" name="category" ng-model="newProduct.category" placeholder="Kategoria"
                        required="required"
                        ng-options="category.name for category in categories">
                </select>
                <div ng-messages="addProductForm.category.$error">
                    <div ng-message="required">To pole jest wymagane</div>
                </div>

                <select type="select" name="unit" ng-model="newProduct.unit" placeholder="Jednostka" required="required"
                        ng-options="unit.name for unit in units">
                </select>
                <div ng-messages="addProductForm.unit.$error">
                    <div ng-message="required">To pole jest wymagane</div>
                </div>

                <md-button class="md-icon-button" type="submit" aria-label="Add product">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </md-button>
            </form>
        </div>
    </div>
</md-dialog>