<md-dialog class="dialog--product dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Verde</h2>
        </div>
    </md-toolbar>
    <div class="dialog__content clearfix">
        <div class="dialog__content--text">
            <p>Edytuj produkt</p>
            <form name="editProductForm" ng-submit="editProduct()">
                <input type="text" name="name" ng-model="product.name" placeholder="Nazwa" required="required"/>
                <div ng-messages="editProductForm.name.$error">
                    <div ng-message="required">To pole jest wymagane</div>
                </div>

                <input type="number" name="price" ng-model="product.price" placeholder="cena" required="required"
                       min="0.01" step="0.01"/>
                <div ng-messages="editProductForm.price.$error">
                    <div ng-message="required">To pole jest wymagane</div>
                </div>

                <select type="select" name="unit" ng-model="product.unit" placeholder="Jednostka" required="required"
                        ng-options="unit.name for unit in units track by unit.id">
                </select>
                <div ng-messages="editProductForm.unit.$error">
                    <div ng-message="required">To pole jest wymagane</div>
                </div>

                <md-button class="md-icon-button" type="submit" aria-label="Edit product">
                    <i class="fa fa-check" aria-hidden="true"></i>
                </md-button>
            </form>
        </div>
    </div>
</md-dialog>