<md-dialog class="dialog--list dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Lista produktów</h2>
        </div>
    </md-toolbar>
    <div class="dialog__content clearfix">
        <div class="dialog__content--text">
            <div class="list--item" ng-repeat="item in products">
                <span class="name">{{ item.product.name | uppercase }}</span>
                <span class="right">
                    <span class="unit">{{ item.product.unit.name }}: {{ item. quantity}}</span>/
                    <span class="price">{{ item.product.price }}</span>
                    <span class="currency"> zł</span>
                </span>
            </div>
        </div>
    </div>
</md-dialog>